@media only screen and (min-width: 710px) {
    /* DEFAULTS */
    body {
        padding-top: 8rem;
    }
    main {
        padding-bottom: 16rem;
    }
    main,
    .max-width-container {
        max-width: 710px;
    }
    .max-width-container {
        padding: 0 4rem;
    }
    main > section {
        padding-top: 5rem;
    }
    main > section > * ~ * {
        margin-top: 3rem;
    }
    /* TEXT */
    p {
        font-size: 1.4rem;
    }
    main > section ul > li {
        font-size: 1.4rem;
    }
    /* MAIN HEADER */
    .main-hdr {
        padding: 1.9rem 0;
        text-align: left;
    }
    .main-hdr > div > a > h1,
    .main-hdr > div > a > h3 {
        float: left;
    }
    .main-hdr > div > a > h3 {
        clear: left;
        margin-bottom: 0;
    }
    .main-hdr > div > nav {
        float: right;
        border-top: none;
        width: calc(100% - 21rem);
        margin-top: -2.5rem;
        text-align: right;
    } 
    .main-hdr > div > nav li {
        display: inline;
    }
    .main-hdr > div > nav a {
        position: relative;
        width: auto;
        float: none;
        padding: 0.5rem 3rem;
        border: none;
    }
    .main-hdr > div > nav li:nth-of-type(2) a {
        border-left: 1px solid #E6EAEA;
        border-right: 1px solid #E6EAEA;
    }
    /* INTRO */
    .intro {
        padding-top: 4rem;
        padding-bottom: 5rem;
    }
    .intro p {
        font-size: 2.4rem;
        line-height: 1.75em;
    }
    /* WORK */
    main > .work > a {
        float: left;
        width: calc(50% - (40px / 2));
        max-width: 295px;
    }
    main > .work > a:nth-of-type(2n + 2) {
        margin-left: 4rem;
    }    
    /* GRAPHIC */
    .graphic figure img {
        width: auto;
        max-width: 100%;
    }
    /* FOOTER */
    footer {
        padding: 1.9rem 0;
    }
    footer .max-width-container:before {
        content: 'Want to know more?';
        float: left;
        font-size: 2.4rem;
        font-weight: 600;
        color: #00a6fb;
        padding-top: 0.12em;
    }
    footer nav {
        float: right;
        width: calc(100% - 27rem);
        text-align: right;
    } 
    footer nav li {
        display: inline;
    }
    footer nav a {
        position: relative;
        width: auto;
        float: none;
        padding: 0.5rem 3rem;
        border: none;
    }
    footer nav li:nth-of-type(2) a {
        border-left: 1px solid #E6EAEA;
        border-right: 1px solid #E6EAEA;
    }
}

@media only screen and (min-width: 1045px) {
    main,
    .max-width-container {
        max-width: 1045px;
    }
    /* INTRO */
    .intro p {
        font-size: 3rem;
        line-height: 1.5em;
    }
    /* WORK */
    main > .work > a {
        width: calc((100% / 3) - (80px / 3));
    }    
    main > .work > a:nth-of-type(2n + 2) {
        margin-left: 0;
    }
    main > .work > a:nth-of-type(3n + 2),
    main > .work > a:nth-of-type(3n + 3) {
        margin-left: 4rem;
    }
    /* ABOUT */
    .about:first-of-type p {
        font-size: 2.5rem;
        font-weight: 600;
    }
}