@media only screen and (min-width: 710px) {
    /* DEFAULTS */
    body {
        padding-top: 8rem;
    }
    main,
    .max-width-container {
        max-width: 710px;
    }
    .max-width-container {
        padding: 0 4rem;
    }
    .main-bg {
        background: url(../img/bg-main-s-port.jpg);
        background-size: cover;
    }
    main > section {
        padding-top: 5rem;
    }
    main > section > * ~ * {
        margin-top: 3rem;
    }
    /* TEXT */
    p {
        font-size: 1.4rem;
    }
    main > section ul > li {
        font-size: 1.4rem;
    }
    /* MAIN HEADER */
    .main-hdr {
        padding: 1.9rem 0;
        text-align: left;
    }
    .main-hdr > div > a > h1,
    .main-hdr > div > a > h3 {
        float: left;
    }
    .main-hdr > div > a > h3 {
        clear: left;
        margin-bottom: 0;
    }
    .main-hdr > div > nav {
        float: right;
        border-top: none;
        width: calc(100% - 21rem);
        margin-top: -2.5rem;
        text-align: right;
    } 
    .main-hdr > div > nav li {
        display: inline;
    }
    .main-hdr > div > nav a {
        position: relative;
        width: auto;
        float: none;
        padding: 0.5rem 3rem;
        border-left: 1px solid var(--light-color-opaque);
    }
    .main-hdr > div > nav li:nth-of-type(2) a {
        border: none;
    }
    .main-hdr > div > nav li:last-of-type a {
        border-right: 1px solid var(--light-color-opaque);
    }
    /* CV */
    .cv h2 {
        font-size: 1.6rem;
    }
    .cv .timeline {
        font-size: 1.4rem;
    }    
    .cv .timeline > * ~ * {
        margin-top: 6rem;
    }
    .cv .timeline h3 {
        font-size: 1.4rem;
    }
    .cv .timeline h4 {
        font-size: 1.1rem;
    }
    
        /* BIO */
    .bio figure {
        max-width: 400px;
    }
    /* WORK */
    main > .work > a {
        float: left;
        width: calc(50% - (40px / 2));
        max-width: 295px;
    }
    main > .work > a:nth-of-type(2n + 2) {
        margin-left: 4rem;
    }    
}

@media only screen and (min-width: 1045px) {
    main,
    .max-width-container {
        max-width: 1045px;
    }
    .main-bg {
        background: url(../img/bg-main-xl.jpg);
        background-size: cover;
    }
    /* BIO */
    .bio figure {
        float: left;
        margin-right: 6rem;
    }
    .bio p:first-of-type {
        padding-top: 1rem;
    }
    .bio ul {
        padding-left: 46rem;
    }
    /* WORK */
    main > .work > a {
        width: calc((100% / 3) - (80px / 3));
    }    
    main > .work > a:nth-of-type(2n + 2) {
        margin-left: 0;
    }
    main > .work > a:nth-of-type(3n + 2),
    main > .work > a:nth-of-type(3n + 3) {
        margin-left: 4rem;
    }
    /* WORK-DETAIL */
    main > .work-detail > a > figure {
        float: left;
        width: calc(100% - (300px + 4rem));
    }
    main > .work-detail > aside {
        float: left;
        width: 300px;
        margin-left: 4rem;
    }
    .work-detail .button.next {
        float: left;
        margin-left: 0.5rem;
    }
    }